.flex-container {
  display: flex;
  flex-direction: row;
}

.custom_container {
  padding: 70px;
}

.flex-col {
  padding-left: 40px;

  /* border: grey solid 2px; */
}

/* th {
  width: 130px;
} */

table {
  table-layout: fixed;
  /* word-wrap: break-word; */
}
