.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-col-table {
  padding-left: 70px;
}

.flex-col-form {
  padding-top: 80px;
}

.custom_container {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 40px;
}

.flex-col {
  padding-left: 40px;
}

table {
  table-layout: fixed;
}

.table-highlight {
  background-color: rgb(245, 241, 225);
}

.confirm-button {
  /* position: absolute; */
  padding-left: 0px;
  padding-top: 100px;
}
